h2 {align-self:center;width: 100%;display:flex;background: linear-gradient(#15786880, #34e89e80,#15786880);margin: 0;font-family: 'Audiowide', cursive;}
h2:hover {background: linear-gradient(#157868b0, #34e89eb0,#157868b0);}
td, th{border: 1px solid black;border-collapse: collapse;}
table{border-collapse: collapse;margin:10px;display: flex;align-items: center;}
tr th:first-child{text-align: right;}
th{font-family: 'Audiowide', cursive;}
td{text-align: center;}
body {display:flex;flex-flow: column wrap;margin:0;background-color: #eeeeee;}
.hgroup {flex-flow: row wrap;display:flex;justify-content: center;align-items: stretch;}
.vgroup {flex-flow: column wrap;display:flex;justify-content: center;}
.bar {width: 90%;height: 3em;display: flex;border: 1px solid;align-self:center;}
.tot_bar {width: 90%;height: 0.5em;display: flex;border: 1px solid;align-self:center;border-top: none;}
.slice1 {}
.slice0 {display:none}
.btn0 {opacity:0.25;}
.btn1 {opacity:1;}
.u {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;display: inline;}
.invisible {border: none;width: 2em;}
.logo {position: relative;width: 25%;top: 0;height: 25%;left: 0;margin: 0.5em;}
.GoodBG {background: linear-gradient(#15786880, #34e89e80,#15786880);}
.BadBG {background: linear-gradient(#e9849680, #cb176180,#e9849680);}
.version{position: absolute;right: 0;}
.greedy {flex-grow:1}
.block_show{display:block;}
.block{display:none;}
.bg0{background-color: #15786820;align-items: center;}
.bg1{background-color: #e9849620;align-items: center;}
.bar_chart rect {fill: #15786880;}
.bar_chart rect:hover {fill: #34e89e80;}
.exec_chart rect:hover {stroke:Red;}
